.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: unset;
  backdrop-filter: blur(30px);
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 3rem 2rem;
  gap: 1.5rem;
  font-size: 1.4rem;
  border-radius: 10px;
}

.form__title {
  color: #fff;
}

.form__input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}

.form__wallpaper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: unset;
  border: 1px solid #f4f4f4;
  border-radius: 20px;
  padding: 0.7rem 1rem;
  gap: 3rem;
}

.form__input_sub {
  background-color: unset;
  outline: none;
  border: none;
  width: 100%;
  color: #fff;
  font-size: 1.1rem;
}

.form__input_sub::placeholder {
  color: #fff;
}

.form__btn {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 30px;
  color: #000;
  background-color: #fff;
  padding: 1rem 1rem;
  font-weight: 700;
  cursor: pointer;
}

.form__Icon {
  color: #fff;
}

.form__paragraph {
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 200;
}

.form__Link {
  color: #fff;
  font-weight: 600;
}